<div class="container">
    <div class="row " style="margin-top:200px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <div class="centered">
                <h2>MEET OUR TEAM</h2>
                <p class="aboutsection-ptag">Lorem ipsum dolor sit amet. Sed quam dolorem rem voluptate quae sed asperiores animi ut repellendus nobis ab omnis similiquev Non ullam voluptate est aspernatur fugiat possimus</p>

            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 ">
                <div class="teamsection-img">
                    <div class="teamsection-grad p-2">
                        <div class="" style="margin-top:240px;">
                            <h5 class="">ASJAD BUCKLER</h5>
                            <p class="teamsection-ptag ">Developer</p>
                            <div class="mt-2">
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa-brands fa-facebook"></i></a>
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa fa-instagram"></i></a>
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa-brands fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="teamsection-img">
                    <div class="teamsection-grad p-2">
                        <div class="" style="margin-top:240px;">
                            <h5 class="">ASJAD BUCKLER</h5>
                            <p class="teamsection-ptag ">Developer</p>
                            <div class="mt-2">
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa-brands fa-facebook"></i></a>
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa fa-instagram"></i></a>
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa-brands fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="teamsection-img">
                    <div class="teamsection-grad p-2">
                        <div class="" style="margin-top:240px;">
                            <h5 class="">ASJAD BUCKLER</h5>
                            <p class="teamsection-ptag ">Developer</p>
                            <div class="mt-2">
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa-brands fa-facebook"></i></a>
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa fa-instagram"></i></a>
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa-brands fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 ">
                <div class="teamsection-img">
                    <div class="teamsection-grad p-2">
                        <div class="" style="margin-top:240px;">
                            <h5 class="">ASJAD BUCKLER</h5>
                            <p class="teamsection-ptag ">Developer</p>
                            <div class="mt-2">
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa-brands fa-facebook"></i></a>
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa fa-instagram"></i></a>
                                <a class="mt-3 text-white p-1" href="#"><i style="font-size:20px" class="fa-brands fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>