<div class="container">
    <div class="row " style="margin-top:600px;">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <div class="centered">
                <h2>ROADMAP</h2>
                <p class="roadmapsection-ptag">Lorem ipsum dolor sit amet. Sed quam dolorem rem voluptate quae sed asperiores animi ut repellendus nobis ab omnis similiquev Non ullam voluptate est aspernatur fugiat possimus</p>

            </div>
        </div>

    </div>
    <img class="roadmapimg-1" src="assets/images/Roadmap.png" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2 below-image">
                <h4>CONCEPT</h4>
                <p class="roadmap-5-ptag">Lorem ipsum dolor sit amet. Sed quam dolorem rem voluptate quae sed asperiores animi ut repellendus nobis ab omnis similiquev Non ullam voluptate est aspernatur fugiat possimus</p>

            </div>

            <div class="col-sm-1"></div>
            <div class="col-sm-2 ">
                <h4>COMMUNICATION</h4>
                <p class="roadmap-5-ptag">Lorem ipsum dolor sit amet. Sed quam dolorem rem voluptate quae sed asperiores animi ut repellendus nobis ab omnis similiquev Non ullam voluptate est aspernatur fugiat possimus</p>

            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2  below-image">
                <h4>BUDGET</h4>
                <p class="roadmap-5-ptag ">Lorem ipsum dolor sit amet. Sed quam dolorem rem voluptate quae sed asperiores animi ut repellendus nobis ab omnis similiquev Non ullam voluptate est aspernatur fugiat possimus</p>

            </div>
            <div class="col-sm-2">
                <h4>DEVELOPMENT</h4>
                <p class="roadmap-5-ptag">Lorem ipsum dolor sit amet. Sed quam dolorem rem voluptate quae sed asperiores animi ut repellendus nobis ab omnis similiquev Non ullam voluptate est aspernatur fugiat possimus</p>

            </div>
            <div class="col-sm-2 below-image">
                <h4>RESULTS</h4>
                <p class="roadmap-5-ptag">Lorem ipsum dolor sit amet. Sed quam dolorem rem voluptate quae sed asperiores animi ut repellendus nobis ab omnis similiquev Non ullam voluptate est aspernatur fugiat possimus</p>

            </div>

        </div>
    </div>
</div>