<div class="container ">
    <div class="pt-5">
        <div class="row flex-sm-row-reverse">
            <div class="col-sm-6">
                <div class="mainsection-2">
                    <img class="mainimg-1" src="assets/images/Image 1.png" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mainsection-1">
                    <h1>CREATING A SPACE FOR THE BLOCKCHAIN COMMUNITY </h1>
                    <p class="mainsection-ptag">Lorem ipsum dolor sit amet. Sed quam dolorem rem <br> voluptate quae sed asperiores animi ut repellendus <br> ab omnis similiquev</p>
                    <div class="row">
                        <div class="col-sm-4">
                            <form class="centered"><a class="btn order-lg-0 POOLS" href="#!">BUY NOW</a></form>

                        </div>
                        <div class="col-sm-4">
                            <form class="centered"><a class="btn bg-transparent order-lg-0 BUY-NOW-1" href="#!">POOLS</a></form>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>