<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">

            <div class="centered">
                <h2>TOKONOMICS</h2>

                <p class="aboutsection-ptag">Lorem ipsum dolor sit amet. Sed quam dolorem rem voluptate quae sed asperiores animi ut repellendus nobis ab omnis similiquev Non ullam voluptate est aspernatur fugiat possimus</p>

            </div>
        </div>
    </div>

    <canvasjs-chart class="canva" [options]="chartOptions" style="height:auto; width:100%;"></canvasjs-chart>
</div>