<div class="container ">
    <div class="pt-5">
        <div class="row flex-sm-row-reverse">
            <div class="col-sm-7">
                <div class="mainsection-2 centered">
                    <img class="ecoimg-1" src="assets/images/Image 3.png" />
                </div>
            </div>
            <div class="col-sm-5">
                <div class="mainsection-1">
                    <h2>ECOSYSTEM</h2>
                    <p class="aboutsection-ptag">Lorem ipsum dolor sit amet. Sed quam dolorem rem voluptate quae sed asperiores animi ut repellendus nobis ab omnis similiquev Non ullam voluptate est aspernatur fugiat possimus fugit hic perspiciatis galisum eum iusto placeat.</p>
                    <p class="aboutsection-ptag">Lorem ipsum dolor sit amet. Sed quam dolorem rem oluptate quae sed asperiores animi ut repellendus ab omnis similiquev</p>
                    <div class="row">
                        <div class="col-sm-3">
                            <form class="centered"><a class="btn bg-transparent order-lg-0 BUY-NOW-1" href="#!">POOLS</a></form>


                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>