<div class="container ">
    <div class="pt-5 pools-section-main">
        <div class="row ">
            <div class="col-sm-12">
                <div class="pools-section centered">
                    <h2>POOLS</h2>
                    <p class="poolsec-ptag">Status: <b>$10,000 USD</b></p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-4">
                <div class="card poolsec-card centered">
                    <p class="aboutsection-ptag mb-0 pt-3">Total Value Locked</p>
                    <p class="poolsec-ptag-2 ">$10,000 USD</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card poolsec-card centered">
                    <p class="aboutsection-ptag mb-0 pt-3">Current WAVE Price</p>
                    <p class="poolsec-ptag-2 ">2000 MATIC</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card poolsec-card centered">
                    <p class="aboutsection-ptag mb-0 pt-3">Total Rewards Per Day</p>
                    <p class="poolsec-ptag-2 ">2000 WAVE</p>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card poolsec-card ">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-3 centered">
                            <p class="aboutsection-ptag mb-0 pt-3">My Total Value Locked</p>
                            <p class="poolsec-ptag-2 ">$10,000 USD</p>
                        </div>
                        <div class="col-sm-3 centered">
                            <p class="aboutsection-ptag mb-0 pt-3">My Total Claimable Rewards</p>
                            <p class="poolsec-ptag-2 ">2000 WAVE</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="row py-4">
                                <div class="col-sm-6 ">
                                    <form class="centered"><a class="btn bg-transparent order-lg-0 Claim-All" href="#!">Claim All</a></form>
                                </div>
                                <div class="col-sm-6 ">
                                    <form class="centered"><a class="btn bg-transparent order-lg-0 Claim-All-2" href="#!">Reinvest All</a></form>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>