<main class="main" id="top">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="#" height="24" alt="" /><b>LOGO</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
            <div class="collapse navbar-collapse border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
                    <li class="nav-item px-1" data-anchor="data-anchor"><a class="nav-link  fw-medium active" aria-current="page" href="#home">ABOUT US</a></li>
                    <li class="nav-item px-1" data-anchor="data-anchor"><a class="nav-link" href="#aboutUs">ROADMAP</a></li>
                    <li class="nav-item px-1" data-anchor="data-anchor"><a class="nav-link" href="#clients">TOKENOMICS</a></li>
                    <li class="nav-item px-1" data-anchor="data-anchor"><a class="nav-link" href="#faq">WHITEPAPER</a></li>
                    <li class="nav-item px-1" data-anchor="data-anchor"><a class="nav-link" href="#faq">POOLS</a></li>
                </ul>
                <form class="centered ps-lg-2 py-1"><a class="btn bg-transparent order-lg-0 BUY-NOW" href="#!">BUY NOW</a></form>
                <form class="centered ps-lg-2 py-1"><a class="btn order-1 order-lg-0 CONNECT-WALLET" href="#!">CONNECT WALLET</a></form>
            </div>
        </div>
    </nav>
</main>